
body {
    font-family: serif;
    margin: 20px;
}


table {
    width: 880px;                
    border-collapse: separate;   
    border-spacing: 6px;         
}


th, td {
    border: 3px solid black;
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
}


td span {
    font-family: monospace;
    font-size: 16px;
}


thead tr:nth-child(1) th:nth-child(1) {
    font-size: 40px;
    padding: 18px 20px;
    line-height: 1;
    background: rgb(80,80,80);
    color: white;
}


thead tr:nth-child(1) th:nth-child(2) {
    background: rgb(70,70,70);
    color: white;
    font-weight: bold;
    font-size: 20px;
}


thead tr:nth-child(2) th:nth-child(n+2) {
    background: rgb(170,170,170);
    color: black;
    font-weight: bold;
}


tbody th {
    background: rgb(120,120,120);
    color: black;
    font-weight: bold;
    font-size: 18px;
}


tbody tr th:nth-child(2) {
    background: rgb(160,160,160);
    color: black;
}


tbody td:nth-child(odd) {
    background: rgb(235,235,235);
    color: black;
}

tbody td:nth-child(even) {
    background: rgb(255,255,255);
    color: black;
}


td.empty {
    background: rgb(210,210,210);
}

td:hover, th:hover {
    transform: scale(1.08);
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
}